
@{
    ViewBag.Title = "CadastroPorSecao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Escolha o que combina mais com você!</h2>

<br />
<br />

<div id="secoes" class="row">
    <div class="view overlay hm-grey-strong col-md-3">
        <img src="~/img/preferencias/gastronomia/restaurante1.jpg" class="img-fluid " alt="">
        <div class="mask flex-center">
            <p class="white-text">Restaurante</p>
        </div>
    </div>

    <div class="view overlay hm-grey-strong col-md-3">
        <img src="~/img/preferencias/artes/museu2.jpg" class="img-fluid " alt="">
        <div class="mask flex-center">
            <p class="white-text">Artes</p>
        </div>
    </div>

    <div class="view overlay hm-grey-strong col-md-3">
        <img src="~/img/preferencias/festas/festas1.jpg" class="img-fluid " alt="">
        <div class="mask flex-center">
            <p class="white-text">Festas</p>
        </div>
    </div>
    <div class="view overlay hm-grey-strong col-md-3">
        <img src="~/img/preferencias/musicas/musica6.jpg" class="img-fluid " sizes="200" alt="">
        <div class="mask flex-center">
            <p class="white-text">Músicas</p>
        </div>
    </div>
</div>

<br />
<br />

<div id="secoes" class="row">

    <div class="view overlay hm-grey-strong col-md-3">
        <img src="~/img/preferencias/bebidas/bebidas12.jpg" class="img-fluid " alt="">
        <div class="mask flex-center">
            <p class="white-text">Bedidas</p>
        </div>
    </div>
    <div class="view overlay hm-grey-strong col-md-3">
        <img src="~/img/preferencias/animais/cachorro1.jpg" class="img-fluid " alt="">
        <div class="mask flex-center">
            <p class="white-text">Viagem com pet</p>
        </div>
    </div>
    <div class="view overlay hm-grey-strong col-md-3">
        <img src="~/img/preferencias/compras/compras1.jpg" class="img-fluid " alt="">
        <div class="mask flex-center">
            <p class="white-text">Compras</p>
        </div>
    </div>
    <div class="view overlay hm-grey-strong col-md-3">
        <img src="~/img/preferencias/culturas/cultura1.jpg" class="img-fluid " alt="">
        <div class="mask flex-center">
            <p class="white-text">Cultura</p>
        </div>
    </div>

</div>

<br />
<br />

<div id="secoes" class="row">
    <div class="view overlay hm-grey-strong col-md-3">
        <img src="~/img/preferencias/esportes/futebol6.jpg" class="img-fluid " alt="">
        <div class="mask flex-center">
            <p class="white-text">Esportes</p>
        </div>
    </div>
    <div class="view overlay hm-grey-strong col-md-3">
        <img src="~/img/preferencias/negocios/negocios1.jpg" class="img-fluid " alt="">
        <div class="mask flex-center">
            <p class="white-text">Negócios</p>
        </div>
    </div>
    <div class="view overlay hm-grey-strong col-md-3">
        <img src="~/img/preferencias/naturezas/naturezas1.jpg" class="img-fluid " alt="">
        <div class="mask flex-center">
            <p class="white-text">Natureza</p>
        </div>
    </div>
    <div class="view overlay hm-grey-strong col-md-3">
        <img src="~/img/preferencias/fitness/fitness1.jpg" class="img-fluid " alt="">
        <div class="mask flex-center">
            <p class="white-text">Fitness</p>
        </div>
    </div>

</div>

<br />
<br />

<div class="col-lg-12">
    <div class="col-lg-4">
        
        <a href="@Url.Action("FiltroPesquisa", "Hoteis")" class="btn btn-lg btn-primary btn-block btn-viajar">
            <span>Pular</span>
        </a>

    </div>
    <div class="col-lg-4">
    </div>
    <div class="col-lg-4">
        <a href="@Url.Action("CadastroPorCategoria", "Preferencias")" class="btn btn-lg btn-primary btn-block btn-viajar">
            <span>Avançar</span>
        </a>
        
    </div>

</div>


<br />
<br />
<br />





