
@{
    ViewBag.Title = "CadastroPorCategoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Um pouco mais sobre você...</h2>

<div>
    <h3>Bebidas</h3>
    <hr />
</div>

<div class="row">
    
    <div class="view overlay hm-grey-strong col-md-3">
        <img src="~/img/preferencias/bebidas/bebidas10.jpg" class="img-fluid " alt="">
        <div class="mask flex-center">
            <p class="white-text">Destilados</p>
        </div>
    </div>

    <div class="view overlay hm-grey-strong col-md-3">
        <img src="~/img/preferencias/bebidas/bebidas14.jpg" class="img-fluid " alt="">
        <div class="mask flex-center">
            <p class="white-text">Cervejas</p>
        </div>
    </div>

    <div class="view overlay hm-grey-strong col-md-3">
        <img src="~/img/preferencias/bebidas/bebidas11.jpg" class="img-fluid " alt="">
        <div class="mask flex-center">
            <p class="white-text">Cafés</p>
        </div>
    </div>
    <div class="view overlay hm-grey-strong col-md-3">
        <img src="~/img/preferencias/bebidas/bebidas15.jpg" class="img-fluid " sizes="200" alt="">
        <div class="mask flex-center">
            <p class="white-text">Vinhos</p>
        </div>
    </div>

</div>

<div>
    <h3>Músicas</h3>
    <hr />
</div>

<div class="row">

    <div class="view overlay hm-grey-strong col-md-3">
        <img src="~/img/preferencias/musicas/musica5.jpg" class="img-fluid " alt="">
        <div class="mask flex-center">
            <p class="white-text">Rock</p>
        </div>
    </div>
    <div class="view overlay hm-grey-strong col-md-3">
        <img src="~/img/preferencias/musicas/musica2.jpg" class="img-fluid " alt="">
        <div class="mask flex-center">
            <p class="white-text">Eletrônica</p>
        </div>
    </div>
    <div class="view overlay hm-grey-strong col-md-3">
        <img src="~/img/preferencias/musicas/musica4.jpg" class="img-fluid " alt="">
        <div class="mask flex-center">
            <p class="white-text">Samba</p>
        </div>
    </div>
    <div class="view overlay hm-grey-strong col-md-3">
        <img src="~/img/preferencias/musicas/musica3.jpg" class="img-fluid " alt="">
        <div class="mask flex-center">
            <p class="white-text">Clássica</p>
        </div>
    </div>

</div>


<div>
    <h3>Esportes</h3>
    <hr />
</div>
<div class="row">

    <div class="view overlay hm-grey-strong col-md-3">
        <img src="~/img/preferencias/esportes/futebol1.jpg" class="img-fluid " alt="">
        <div class="mask flex-center">
            <p class="white-text">Futebol</p>
        </div>
    </div>
    <div class="view overlay hm-grey-strong col-md-3">
        <img src="~/img/preferencias/esportes/futebol3.jpg" class="img-fluid " alt="">
        <div class="mask flex-center">
            <p class="white-text">Radicais</p>
        </div>
    </div>
    <div class="view overlay hm-grey-strong col-md-3">
        <img src="~/img/preferencias/esportes/futebol2.jpg" class="img-fluid " alt="">
        <div class="mask flex-center">
            <p class="white-text">Trilha</p>
        </div>
    </div>
    <div class="view overlay hm-grey-strong col-md-3">
        <img src="~/img/preferencias/esportes/futebol4.jpg" class="img-fluid " alt="">
        <div class="mask flex-center">
            <p class="white-text">Yoga</p>
        </div>
    </div>

</div>

<br />
<br />

<div class="col-lg-12">
    <div class="col-lg-4">

        <a href="@Url.Action("FiltroPesquisa", "Hoteis")" class="btn btn-lg btn-primary btn-block btn-viajar">
            <span>Pular</span>
        </a>

    </div>
    <div class="col-lg-4">
    </div>
    <div class="col-lg-4">
        <a href="@Url.Action("CadastroRedesSociais", "Preferencias")" class="btn btn-lg btn-primary btn-block btn-viajar">
            <span>Avançar</span>
        </a>

    </div>

</div>


<br />
<br />
<br />
