
@{
    ViewBag.Title = "CadastroPorSecao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Escolha o que combina mais com você!</h2>

<br />
<br />

<div class="container">
    <ul>
        <li>
            <input type="checkbox" id="cb1" />
            <label for="cb1" class="labelEscolha text-center">
                <img src="~/img/preferencias/gastronomia/restaurante1.jpg" class="img-fluid " alt="">
                <br />
                Restaurante
            </label>
        </li>
        <li>
            <input type="checkbox" id="cb2" />
            <label for="cb2" class="labelEscolha text-center">
                <img src="~/img/preferencias/artes/museu2.jpg" class="img-fluid " alt="">
                <br />
                Artes
            </label>
        </li>
        <li>
            <input type="checkbox" id="cb3" />
            <label for="cb3" class="labelEscolha text-center">
                <img src="~/img/preferencias/festas/festas1.jpg" class="img-fluid " alt="">
                <br />
                Festas
            </label>
        </li>
        <li>
            <input type="checkbox" id="cb4" />
            <label for="cb4" class="labelEscolha text-center">
                <img src="~/img/preferencias/musicas/musica6.jpg" class="img-fluid " sizes="200" alt="">
                <br />
                Músicas
            </label>
        </li>
        <li>
            <input type="checkbox" id="cb5" />
            <label for="cb5" class="labelEscolha text-center">
                <img src="~/img/preferencias/compras/compras1.jpg" class="img-fluid " alt="">
                <br />
                Compras
            </label>
        </li>
        <li>
            <input type="checkbox" id="cb6" />
            <label for="cb6" class="labelEscolha text-center">
                <img src="~/img/preferencias/culturas/cultura1.jpg" class="img-fluid " alt="">
                <br />
                Cultura
            </label>
        </li>
        <li>
            <input type="checkbox" id="cb7" />
            <label for="cb7" class="labelEscolha text-center">
                <img src="~/img/preferencias/esportes/futebol6.jpg" class="img-fluid " alt="">
                <br />
                Esportes
            </label>
        </li>
        <li>
            <input type="checkbox" id="cb8" />
            <label for="cb8" class="labelEscolha text-center">
                <img src="~/img/preferencias/negocios/negocios1.jpg" class="img-fluid " alt="">
                <br />
                Negócios
            </label>
        </li>
        <li>
            <input type="checkbox" id="cb9" />
            <label for="cb9" class="labelEscolha text-center">
                <img src="~/img/preferencias/naturezas/naturezas1.jpg" class="img-fluid " alt="">
                <br />
                Natureza
            </label>
        </li>
        <li>
            <input type="checkbox" id="cb10" />
            <label for="cb10" class="labelEscolha text-center">
                <img src="~/img/preferencias/fitness/fitness1.jpg" class="img-fluid " alt="">
                <br />
                Fitness
            </label>
        </li>
        
    </ul>
</div>

<br />
<br />

<div class="col-lg-12">
    <div class="col-lg-4">
        
        <a href="@Url.Action("FiltroPesquisa", "Hoteis")" class="btn btn-lg btn-primary btn-block btn-viajar">
            <span>Pular</span>
        </a>

    </div>
    <div class="col-lg-4">
    </div>
    <div class="col-lg-4">
        <a href="@Url.Action("CadastroPorCategoria", "Preferencias")" class="btn btn-lg btn-primary btn-block btn-viajar">
            <span>Avançar</span>
        </a>
        
    </div>

</div>


<br />
<br />
<br />





